@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;700&display=swap");

body {
	font-family: 'Lato', sans-serif;

}
.toolimages {
	max-width: 200px;
	height: 200px;
}

#surveybg {
	background-color: darkgray;
	padding-bottom: 25px;
}

#aboutme {
	background-color: aliceblue;
}

#profilephoto{
	max-width: 400px;
	height: 350px;
}